<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <!-- TODO: add meta description -->
  <!-- <meta name="description" content="" /> -->

  <!-- TODO: add social media meta data -->
  <!-- <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
    <meta name="twitter:card" content="">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content=""> -->
</head>

<body>
  <noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
      Please enable it to continue.</strong>
  </noscript>
  <div id="loader"></div>
  <div id="app"></div>
  <!-- built files will be auto injected -->
  <script type="text/javascript">
    window.onload = function () {

      setTimeout(function () {

        document.getElementById("loader").remove();

      }, 1000);

    };
  </script>
</body>

</html>
