<template>
  <div id="contact" class="contact">
    <navigation></navigation>
    <h1>Contact me...</h1>
  </div>
</template>

<script>
import Navigation from "../components/Navigation.vue";
export default {
  components: { Navigation },
  name: "Contact"
};
</script>
