<template>
  <div id="home" class="home">
    <navigation></navigation>
    <h1>Hi, I'm Chris</h1>
  </div>
</template>

<script>
import Navigation from "../components/Navigation.vue";
export default {
  name: "Home",
  components: {
    Navigation
  }
};
</script>

<style lang="less" scoped>
#home {
  color: #fff;
  background-image: url(../assets/img/cwa.png),
    conic-gradient(from 90deg at bottom right, cyan, rebeccapurple);
  background-repeat: no-repeat, no-repeat;
  background-position: center center fixed, center center;
  background-size: cover, cover;
  background-attachment: fixed, fixed;

  /* Center the content */
  // align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* Take full size */
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
</style>
