<template>
  <div id="story" class="story">
    <navigation></navigation>
    <h1>My Story...</h1>
  </div>
</template>

<script>
import Navigation from "../components/Navigation.vue";
export default {
  components: { Navigation },
  name: "Story"
};
</script>
