<template>
  <div id="work" class="work">
    <navigation></navigation>
    <h1>My Work...</h1>
  </div>
</template>

<script>
import Navigation from "../components/Navigation.vue";
export default {
  components: { Navigation },
  name: "Work"
};
</script>
