<template>
  <div>
    <nav>
      <router-link
        v-for="routes in links"
        v-bind:key="routes.id"
        :to="`${routes.page}`"
      >
        <div class="btn">{{ routes.text }}</div>
      </router-link>
    </nav>
  </div>
</template>

<script>
export default {
  Name: "Navigation",
  data() {
    return {
      links: [
        {
          id: 0,
          text: "Home",
          page: "/home"
        },
        {
          id: 1,
          text: "My Story",
          page: "/myStory"
        },
        {
          id: 2,
          text: "My Work",
          page: "/myWork"
        },
        {
          id: 3,
          text: "My Contact",
          page: "/myContact"
        }
      ]
    };
  }
};
</script>

<style lang="less">
nav {
  // background: rebeccapurple;
  width: 200px;
  display: grid;

  div {
    padding: 1rem;
    margin: 1rem;
    // border: 1px solid red;
    background-color: #fff;
    height: 75px;
    text-align: center;
    line-height: 75px;
    font-size: 1.5rem;
    // TODO: import Montserrat
    font-family: "Montserrat", sans-serif;
    box-shadow: 4px 4px 4px gray;
    border-radius: 8px;
  }
}
</style>
