:is(#story, #work, #contact) {
  color: #fff;

  background-size: cover;
  background-attachment: fixed;

  height: 100vh;
  width: 100%;
  overflow: hidden;
}
// TODO: replace colors with color palatte variables

// MyStory
#story {
  background: conic-gradient(from 90deg at bottom right, lime, darkgreen)
    no-repeat center fixed;
}

// MyWork
#work {
  background: conic-gradient(from 90deg at bottom right, orange, red) no-repeat
    center fixed;
}

// MyContact
#contact {
  background: conic-gradient(from 90deg at bottom right, lightgray, darkgray)
    no-repeat center fixed;
}